<%- include('header'); -%>

<div class="container" style="margin-top: 10%">
  <form
    action="/customers/<%= custName %>"
    method="post"
    class="transaction-form"
  >
    <div class="first-cust card">
      <div class="card-body">
        <div class="card-title customer1">
          From: <strong><%= custName %></strong>
        </div>
        <div class="card-title customer1Balance">
          <%= custName %>'s current balance: <strong><%= custBalance %></strong>
        </div>
        <input
          type="hidden"
          id="custBalance"
          name="custBalance"
          value="<%= custBalance %>"
        />
        <div class="card-title">
          <% if (recieverName) { %> To: <strong><%= recieverName%></strong> <% }
          else { %>
          <p>To: ---Please Select an account from below---</p>
          <% } %>
        </div>
        <input
          type="hidden"
          id="recieverName"
          name="recieverName"
          value="<%= recieverName %>"
        />
        <div class="input-group">
          <input
            type="number"
            name="amount"
            class="form-control"
            id="amount"
            placeholder="Amount"
            min="1"
            max="<%= custBalance %>"
            width="200px"
            required
          />
          <button type="submit" class="btn btn-info">Transfer</button>
        </div>
      </div>
    </div>
  </form>
  <br />
  <h3>Select an account from below to carry out the transaction</h3>

  <div class="container customer-table">
    <div class="row customer-header-row" style="background-color: #1abc9c">
      <div class="col">Customer Id</div>
      <div class="col">Customer Name</div>
      <div class="col">Balance Amount</div>
    </div>
    <% for( let i = 0; i < customers.length; i++ ) { %>
    <form action="/customer/transaction" method="post">
      <div class="row customer-row" onclick="this.parentNode.submit()">
        <input
          type="hidden"
          name="selectedCustomerName1"
          value="<%= custName %>"
        />
        <input
          type="hidden"
          name="selectedCustomerName2"
          value="<%= customers[i].name %>"
        />
        <div class="col"><%= i+1 %></div>
        <div class="col"><%= customers[i].name %></div>
        <div class="col"><%= customers[i].balance %></div>
      </div>
    </form>
    <% } %>
  </div>
</div>

<%- include('footer'); -%>
